:root {
  --first-color: #b3d9da;
  --second-color: #f05c43;
  --chart-height: 450;
  --map-height: 450;
}

#contract {
  color: var(--second-color);
}

#filters {
  padding-top: 10px;
}

/* Grid */

.affix {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.filterRow {
  padding-bottom: 5%;
}

/**/

/* Table */
.table-wrap {
  padding-top: 10px;
}

.rt-th {
  color: var(--second-color);
  background-color: var(--first-color);
}
/**/

/* Grid debugging
[class*="col-"] {
  background-color: #eee;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86, 61, 124, 0.2);
}
*/

body {
  text-align: center;
  margin: auto;
}

/* Image resize */
img {
  display: block;
  max-width: 75%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#header-image {
  background-color: var(--first-color);
}

#header-title {
  height: 70px;
  padding-top: 20px;

  /*font: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-size: 1.4em;
  text-align: center;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  color: var(--second-color);

  background-color: var(--first-color);
}

#hint-map {
  color: var(--second-color);
  background-color: var(--first-color);
}
