body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input{ 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #aaa;
  padding-right: 10px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #aaa;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-right: 10px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #aaa;
   opacity:  1;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-right: 10px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #aaa;
   opacity:  1;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-right: 10px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #aaa;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-right: 10px;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #aaa;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-right: 10px;
}

.header{
  padding: 0px;
  margin-left: auto;
  margin-right: auto; 
  background-color: #ebf5ff;
  margin-bottom: 10px;
}

#span-header{
  height: 50px;
  padding-top: 20px;
}

#title{
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  text-align: center;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  color: #007eff;
}

p {
  color: #00B7FF;
}

.App-logo {
   width: 100%;
   height: auto;
}
 
@media (min-width: 979px) {
   .Filters{
      position: sticky;
      top: 10px
   } 
}

.Filters{
   margin-bottom: 20px;

}

.Filter{
  padding: 5px;
}

.DateFilter{
  margin-left: 2px;
  margin-right: 2px;
  /*width: 228px;
  height: 24px;*/
  border: 1px solid;
  border-radius: 4px;
  border-color: #d9d9d9;
  color:#007eff;
}

.DatePickersContainer{
  margin-left: 3px;
   padding-top: 5px;
   align-content: center;
}

.react-datepicker__close-icon::after{
   background-color: #ebf5ff;
   color: #007eff;
   border-color: #c2e0ff;;
}
